.contenedor {
	width: 100%;
}

footer {
	background: rgba(0,0,0,0.81);
	overflow: hidden;
	padding: 14vmin 18vmin;
}

footer p>span {
	
}

footer input {
	border: none !important;
}

footer input::placeholder {

		color: white !important;
}

