.contenedor {
	width: 100%;
}


.footer .row {
	padding: 4vmin 8vmin;
}

.footer .row ul li {
	color: white;
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto';
	font-size: 1.5em;
	text-transform: uppercase;
}

.footer:last-child {
	background:rgba(0,0,0,0.9);
}