<!-- <div class="contenedor animated fadeInDown slow delay-2">
    <footer class="footer bg-dark ">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>whatever</li>
                    <li>whatever</li>
                    <li>whatever</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>whatever</li>
                    <li>whatever</li>
                    <li>whatever</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn">click</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <p>Copiright</p>
        </div>
    </footer>
</div> -->

<footer>
    <div class="container-fluid p-0">
        <div class="row tex-left">
            <div class="col-md-5 col-md-5">
                <h1 class="text-light">About US</h1>
                <p class="text-muted">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, quasi natus. Iste molestias quae vel vero facere distinctio neque at architecto dolor. Delectus accusantium nemo dicta dignissimos consectetur maiores sint!
                </p>
                <p class="pt-4 text-muted">
                    Copyright ©2020 all rights reserved | This app is made by 
                    <span>Jorge Duran</span>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <div class="form form-inline">
                    <div class="col pt">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white" placeholder="email">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    click
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="text-light">Follow Us</div>
                <p>Let us be social</p>
            </div>
        </div>
    </div>
</footer>