<main>
    <section>
        <h1 class="animated fadeInUp ">
            Upload your Favorite photos
        </h1>
        <p>You can have all of your favorites photos on your own gallery</p>
        <div class="input-box">
            <input type="text" placeholder="search...." 
            name="searchText" #searchText
            (keyup.enter)="searchPhoto(searchText)"
            >
            <img src="assets/img/search.svg" alt="search icon"
            (click)="searchPhoto()"
            >
        </div>
    </section>
        <div class="container p-4">
            <div class="row">
                <div class="card-columns">
                    <div class="card shadow-lg"  *ngFor="let photo of _Album; let i=index">
                        <img [src]=" photo.thumb " [lightbox]="i"
                        class="card-img-top" alt="no image" (click)="open(i)"> 
                    </div>
                </div>
            </div>
        </div>
</main>



