<main>
    <section>
        <div class="one" data-sal="fade"
        data-sal-delay="200"
        data-sal-duration="1000"
        data-sal-easing="ease-out">
            <h1>Upload your favorites photos</h1>
            <p>You will can save all of your photos in this Gallery</p>
            <a class="btn" [routerLink]="[ '/signUp']" >
                <span>
                    Get started
                </span>
            </a>
            <a class="btn2" [routerLink]="[ '/photos']">
                <span>
                    See photos
                </span>
            </a>
        </div>
        <img  
        data-sal="slide-down" 
        data-sal-delay="200" 
        data-sal-easing="ease-out" 
        data-sal-duration="1000" src="assets/img/addFile.svg" alt="">
    </section>
    
    <section>
        <h1
       
        >djsjdj</h1>
    </section>
    <section>
        <h1>djsjdj</h1>
    </section>
    <section>
        <h1>djsjdj</h1>
    </section>
</main>



