main {
    font-size: 16px;
    width: 100%;
}

section {
 width: 100%;
 height: 100vh;
 font-size: 1em;
}

.container {
    transition-delay: 0.5s;
    transition-duration: 2s;
    animation-duration: 2s;
}


section:nth-of-type(1) {
    background-image: url('/assets/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .input-box {
        width: 39.9375em;
        height: 3em;
        position: relative;
        input[type="text"] {
            color:hsla(0, 0%, 0%, 0.87);
            height: 100%;
            width: 100%;
            border: none;
            margin-left: 1em;
            border: 1px solid rgba(0, 0, 0, 0.25);
            font-size: 1.12em;
            font-family: 'Roboto';
            padding: 1em;
            outline: none;
            border-radius: 1.25em;
        }
        
        img {
            width: 5%;
            position: absolute;
            right: 2px;
            bottom: 5.5px;
            cursor: pointer;
        }
    }
}

section:nth-of-type(1) h1 {
    font-size: 4em;
    color: white;
    line-height: 1.24em;
    font-weight: bold;
}

section:nth-of-type(1) p {
    font-size: 1.5em;
    margin-bottom: 8vmin;
    color: white;
}

@media screen and (max-width: 780px) {
    section {
        font-size: 8.2px;
      /*   h1 {
            font-size: 2.5em;
            line-height: 1em;
        }

        p {
            font-size: 1.1em;
            line-height: 1.25em;
        }

        .input-box {
            max-width: 22em;
        } */
    }
}
@media screen and (max-width: 576px) {
    section{
        font-size: 7px;
        
    }
}