<div class="container">
    <div class="row">
    
        <div class="col-4 animated fadeInDown slow">
            <img class="img-fluid p-2" [src]=" photoSelected || 'http://localhost:3000/'+ photoToEdit.imagePath" 
            (click)="imageToUpdate.click()"
            alt="no image">
            <div class="row justify-content-center">
                <div class="col-4 p-2">
                    <div (click)="deletePhoto()" class="btn btn-danger btn-block">Delete</div>
                </div>
            </div>
        </div>
                
        <div class="col-8 p-4">
            <div class="card animated fadeInDown slow">
                <div class="card-body">
                        <form class="form" (submit)="updatePhoto(title, description)" >
                                <div class="form-group">
                                  <input class="form-control" type="text"  #title [placeholder]="photoToEdit.title">
                                </div>
                                <div class="form-group">
                                  <textarea class="form-control" cols="10" rows="10"
                                  [placeholder]="photoToEdit.description" #description
                                  ></textarea>
                                </div>
                                <input type="file" (change)="toUpdateImg($event)" #imageToUpdate class="d-none">
                                <button class="btn btn-success btn-block" type="submit" >Edit</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
     
</div>
