*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

.elseTemplate {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .row .card img {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        filter: brightness(40%);
    }
} 

// Modal

.modal {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);

    // MODAL_CONTENT

    .card {
        margin: auto;
        display: block;
        height: 20%;
        width: 25%;
        position: relative;
        color: #fff;
       // animation: slide .4s;
        .card-img-top {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 3.5px solid #fff;
        }
    
        
        // what will be wroten

        .caption {
            text-align: left;
            margin: auto;
            display: block;
            color: #fff;
            max-width: 700px;
            width: 80%;
            padding: 1.2rem 0;
            font-family: 'Roboto';
        }
        
        //CLOSE_BUTTON
        
        .close {
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            position: relative;
            bottom: 60px;
            right: 0;
        }
        
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

//animations

@keyframes slide {
    from { opacity: 0; transform: translateY(0px); }
    to { opacity: 1; transform: translateY(40px); }
}


// responsive 700px screen

@media screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

//.modal-content, .caption { animation: zoom; animation-duration: 2s; }
