<div class="container p-4" *ngIf="!condition; else elseTemplate">
    <div class="row">
        <div class="card-columns">
            <div class="card shadow-lg" *ngFor="let photo of photos | searcher:text; let i=index">
                <img [src]=" 'http://localhost:3100/'+ photo.imagePath"
                class="card-img-top" alt="no image" (click)="open(photo.imagePath, photo.title, photo.description)"> 
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'d-none': reveal, 'd-block': !reveal}" *ngFor="let photo of photos" (click)="close()">
    <!-- close button -->
        <!-- <div class="card animated fadeIn">
            <img [src]=" 'http://localhost:3100/' + src " alt="" class="card-img-top" #photoPreview>
            <div class="card-footer ">
                <p>{{ caption }}</p>
                <button class="close">&times;</button>   
            </div>
        </div> -->
        
        <div class="con mb-4">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card">
                                <img [src]="'http://localhost:3100/' + src" alt="lightbox-img" class="card-img-top">
                                <div class="card-body">
                                    <h2>{{ caption }}</h2>
                                    <button class="close">&times;</button>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<ng-template #elseTemplate>
    <div class="elseTemplate">
        <p>You've not searched yet</p>
    </div>
</ng-template>
  
